:root {
    /* Primary */
    --Green200 /*(lighter)*/: hsl(148, 38%, 91%);
    --Green600 /*(medium) Button*/: hsl(169, 82%, 27%); 
    --Red: hsl(0, 66%, 54%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey500 /*(medium) small font*/: hsl(186, 15%, 59%);
    --Grey900 /*(darker) title*/: hsl(187, 24%, 22%);
}

@font-face {
    font-family: "Karla";
    src: url(assets/fonts/Karla-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Green200);
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Karla";
    padding: 1rem;
}

.cont {
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 1rem;
    width: 700px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color: var(--Grey900);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--Grey500);
    font-weight: bold;
}

input {
    padding: 0.25rem;
}

.hidden {
    display: none !important;
}




/* Success Message Box */
.success-message {
    background-color: var(--Grey900);
    color: var(--White);
    /* width: 400px; */
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}
.message-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: medium;
    font-weight: bold;
}
.success-message p {
    font-size: small;
}




.sect1 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.sect1 .left,
.sect1 .right {
    width: 50%;
}

.sect1 input,
.sect2 input,
.sect4 textarea {
    width: 100%;
    border: 1.5px solid var(--Grey500);
    border-radius: 4px;
    margin-top: .5rem;
    height: 80%;
}

.sect3 div {
    display: flex;
    margin-top: 0.25rem;
    height: 60%;
    gap: 0.5rem;
}

.sect3 .left,
.sect3 .right {
    border: 1.5px solid var(--Grey500);
    border-radius: 4px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.25rem;
    padding: 0.4rem;
}

.sect2 {
    margin-bottom: 0.5rem;
}

.sect5 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

#Submit {
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--Green600);
    border: 0;
    color: var(--White);
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    padding: 0.5rem;
}

/* Hover and Focus */
.sect1 input:hover,
.sect2 input:hover,
textarea:hover,
.sect3 div div:hover
{
    cursor: pointer;
    border: 1.5px solid var(--Grey900);
}

.sect3 div div label:hover {
    cursor: pointer;
}

.sect3 div div:active {         /*  Important. Make it more likable  */
    background-color: var(--Green200);
}

#Submit:hover {
    background-color: var(--Grey900);
}

.sect5 input:active {
    color: var(--Grey500);
}




@media (max-width: 700px) {
    .cont {
        width: auto;
    }
}


/* Mobile */

@media (max-width: 400px) {
    .sect1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .sect1 .left,
    .sect1 .right
    {
        width: 100%;
    }
    
    .sect3 div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sect3 div .left,
    .sect3 div .right
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 0.5rem;
    }
}